<div fxLayout="row wrap" fxLayoutAlign="start start">
  <form>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="100">
        <p>
          Every<span>
            <mat-form-field>
              <input matInput />
            </mat-form-field>
          </span>
          Day at
          <span></span>
        </p>
      </div>
      <div fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Starts From</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Starts From" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
